# CODEOWNERS — https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners
# @TheJollyLaMa is the default reviewer for all files in this repository.
* @TheJollyLaMa
